
body {
    /* background-color: #dbdbdb; */
    /* max-width: 1000px; */
    /* margin: auto; */
    background: url("https://html-templates.info/images/pages/140520040133.jpg");
    background-size:cover;
    background-attachment: fixed;
    width: 100%;
    /* height: 100vh; */
    margin: 0;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
    padding-bottom: 25px;
}

.maincontent {
    box-shadow: 10px 10px 10px rgb(14, 7, 43);
    max-width: 1080px;
    margin: auto;
    background-color: #ffffff;
}

.logo {
    max-width: 1080px;
    color: #ffffff;
    background-color: #0f0f2e;
    padding: 20px 100px;
    margin-top: 20px;
}

.namelogo {
    text-align: center;
    margin-top: 1em;
}

.navigate {
    margin-left: 50px;
    display: inline;
}

.naviref {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

.naviref:hover {
    color: red;
}

.resume {
    /* text-decoration: none; */
    color:rgb(255, 255, 255);
}

.resume:hover {
    /* text-decoration: none; */
    color: red;
}

/* Markers */

h2 {
    margin: 1em auto;
    text-align: center;
    color: #000000;
    background-color: #fff;
}

p {
    margin: 1em auto;
    text-align: center;
}

.container {
    background-color: #0f0f2e;
    padding: 10px 0;
}

.marker {
    width: 200px;
    height: 25px;
    margin: 10px auto;
}

.cap {
    width: 60px;
    height: 25px;
}

.sleeve {
    width: 110px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    border-left: 10px double rgba(0, 0, 0, 0.75);
}

.cap,
.sleeve {
    display: inline-block;
}

.red {
    background: linear-gradient(rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
    box-shadow: 0 0 20px 0 rgba(83, 14, 14, 0.8);
}

.green {
    background: linear-gradient(#55680D, #71F53E, #116C31);
    box-shadow: 0 0 20px 0 #3B7E20CC;
}

.blue {
    background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
    box-shadow: 0 0 20px 0 blue;
}

/* Registration */

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

.registration {
    background-color: #1b1b32;
    padding-top: 2em;
}

fieldset {
    border: none;
    padding: 2rem 0;
}

fieldset:not(:last-of-type) {
    border-bottom: 3px solid #3b3b4f;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input,
textarea,
select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

input,
textarea {
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
    resize: none;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
    min-width: 300px;
    cursor:pointer;
}

input[type="file"] {
    padding: 1px 2px;
}

a {
    color: #dfdfe2;
}